<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer_title">
                    <h2>About us</h2>
                    <p>COLLEGION | Collegion is a college management system.
                        Collegion is an educational software which provides
                        colleges to
                        go digital.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer_title">
                    <h2>Quick Links</h2>
                    <ul class="footer_link">
                        <li><a href="/student/load_dashboard"><i
                                class="fa fa-chevron-right"></i> Home</a></li>
                        <li><a href="/student/view_subject"><i
                                class="fa fa-chevron-right"></i> Subjects</a>
                        </li>
                        <li><a href="/student/view_exam"><i
                                class="fa fa-chevron-right"></i> Exams</a>
                        </li>
                        <li><a href="/student/view_lecture"><i
                                class="fa fa-chevron-right"></i> Lectures</a>
                        </li>
                        <li><a href="/student/load_faculty"><i
                                class="fa fa-chevron-right"></i>
                            Faculty</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="footer_title">
                    <h2>Contact</h2>
                    <ul class="contact_us">
                        <li><i class="fa fa-map-marker"></i> LJ Polytechnic, Sarkhej,
                            Ahmedabad, Gujarat</li>
                        <li><i class="fa fa-phone"></i> <a
                                href="tel:+917265993303"> (027) 232
                            452</a></li>
                        <li><i class="fa fa-envelope"></i> <a
                                href="mailto:nitikothari03@gmail
                        .com">nitikothari03@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copy_right">
    <p>
        Copyright <i class="fa fa-copyright"></i> 2022.<a
            href="/student/load_dashboard" style="color: gainsboro">COLLEGION.</a> All
        Rights Reserved
    </p>
</div>