<header id="header" class="header_1 header_2">
{#    <div class="toolbar d-none d-lg-block">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-sm-6 hidden-xs">#}
{#                    <div class="thim-have-any-question">#}
{#                        Have any question ?#}
{#                        <div class="mobile"><i class="fa fa-phone m-r-5"></i><a#}
{#                                class="value" href="tel:+9100123456789"> (00)#}
{#                            123 456 789</a></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-sm-6">#}
{#                    <div class="child_login pull-right">#}
{#                        <i class="fa fa-clock-o"></i> Mon - Fri : 9.00AM -#}
{#                        06.00PM#}
{#                        <a href="javascript:void(0)"#}
{#                           class="register m-l-10 js-modal-show">Register</a>#}
{#                        <a href="javascript:void(0)"#}
{#                           class="login js-modal-show">Login</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class="study_nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-faded mb-0 ">
{#                <a class="navbar-brand" href="/student/load_index"><img#}
{#                        src="../../static/studentResources/image/logo.png"#}
{#                        alt="Main Logo"></a>#}
                <div class="collapse navbar-collapse main-menu"
                     id="navbarSupportedContent"><center>
                    <ul class="navbar-nav nav lavalamp ml-auto menu main_menu">
                        <li class="nav-item single_nav menu-item"><a
                                href="/student/load_dashboard"
                                class="nav-link">Home</a>
                        </li>
                        <li class="nav-item single_nav menu-item"><a
                                href="/student/view_profile"
                                class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item single_nav menu-item"><a
                                href="/student/view_subject"
                                class="nav-link">Subjects</a>
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="/student/load_event"#}
{#                                                        class="nav-link">Events</a>#}
{#                                </li>#}
{#                            </ul>#}
                        </li>
                        <li class="nav-item single_nav"><a
                                href="/student/view_lecture"
                                class="nav-link">Lectures</a>
                        </li>
                        <li class="nav-item single_nav"><a
                                href="/student/view_exam"
                                class="nav-link">Exams</a>
                        </li>
                        <li class="nav-item single_nav"><a
                                href="/student/view_assignment"
                                class="nav-link">Assignments</a>
                        </li>
                        <li class="nav-item single_nav"><a
                                href="/student/load_faculty"
                                class="nav-link dropdown_icon">Faculty</a>
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="/student/load_teacher"#}
{#                                                        class="nav-link">Teacher</a>#}
{#                                </li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_teacher_profile"#}
{#                                        class="nav-link">Teacher Profile</a>#}
{#                                </li>#}
{#                            </ul>#}
                        </li>
                        <li class="nav-item single_nav menu-item"><a
                                href="/student/about" class="nav-link">About Us</a>
                        </li>
{#                        <li class="nav-item single_nav"><a#}
{#                                href="javascript:void(0)" class="nav-link">Courses</a>#}
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_course_grid"#}
{#                                                        class="nav-link">Course#}
{#                                    Grid</a></li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_course_single"#}
{#                                        class="nav-link">Course Single</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="nav-item single_nav"><a#}
{#                                href="javascript:void(0)"#}
{#                                class="nav-link dropdown_icon">Teachers</a>#}
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="/student/load_teacher"#}
{#                                                        class="nav-link">Teacher</a>#}
{#                                </li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_teacher_profile"#}
{#                                        class="nav-link">Teacher Profile</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="nav-item single_nav"><a#}
{#                                href="javascript:void(0)" class="nav-link">Gallery</a>#}
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="gallery-one.html"#}
{#                                                        class="nav-link">Gallery#}
{#                                    Style 1</a></li>#}
{#                                <li class="nav-item"><a href="gallery-two.html"#}
{#                                                        class="nav-link">Gallery#}
{#                                    Style 2</a></li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="gallery-three.html"#}
{#                                        class="nav-link">Gallery Style 3</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="nav-item single_nav"><a#}
{#                                href="javascript:void(0)" class="nav-link">Events</a>#}
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="/student/load_event"#}
{#                                                        class="nav-link">Events</a>#}
{#                                </li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_event_detail"#}
{#                                        class="nav-link">Events Detail</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="nav-item single_nav"><a#}
{#                                href="javascript:void(0)"#}
{#                                class="nav-link">Blog</a>#}
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a href="blog-grid.html"#}
{#                                                        class="nav-link">Blog#}
{#                                    Grid</a></li>#}
{#                                <li class="nav-item"><a href="blog-list.html"#}
{#                                                        class="nav-link">Blog#}
{#                                    List</a></li>#}
{#                                <li class="nav-item"><a href="/student/load_blog_detail"#}
{#                                                        class="nav-link">Blog#}
{#                                    Detail</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <li class="nav-item single_nav"><a
                                href="/student/contact" class="nav-link">Contact</a>
{#                            <ul class="navbar-nav nav mx-auto">#}
{#                                <li class="nav-item"><a#}
{#                                        href="/student/load_contact"#}
{#                                        class="nav-link">Contact Style 1</a>#}
{#                                </li>#}
{#                                <li class="nav-item"><a#}
{#                                        href="contact-style-two.html"#}
{#                                        class="nav-link">Contact Style 2</a>#}
{#                                </li>#}
{#                            </ul>#}
                        </li>
                        <li class="nav-item single_nav"><a
                                href="/admin/logout_session"
                                class="nav-link">Logout</a>
                        </li>
                    </ul>
                    </center>
                </div>
            </nav>

        </div>
    </div>
</header>
