<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COLLEGION | Faculty</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/feather.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/image/favicon.ico"/>
    <script type="text/javascript">
        function editExamSubject() {
            let examSemesterId = document.getElementById
            ('examSemesterId');
            let examSubjectId = document.getElementById
            ('examSubjectId');

            examSubjectId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Subject";
            examSubjectId.options.add(option);
            examSubjectId[0].disabled = true;
            examSubjectId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].subject_id;
                        option.text = json[i].subject_name;
                        examSubjectId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/faculty/ajax_subject_exam?examSemesterId=" +
                examSemesterId.value, true);
            ajax.send();
        }
    </script>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'faculty/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'faculty/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"
                                 style="background: linear-gradient(90deg, #464de4, transparent);">
                                <h4 class="m-0 text-white">Edit Exam
                                    Schedule</h4>
                            </div>
                            <div class="card-body">
                                <form class="cmxform" id="commentForm"
                                      method="post"
                                      action="/faculty/update_exam">
                                    <fieldset>
                                        <input type="hidden"
                                               name="examId"
                                               value="{{
                                                       exam_vo_list[0]['exam_id']
                                                       }}">

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="examDegreeId">
                                                    Degree Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="examDegreeId"
                                                       id="examDegreeId"
                                                       value="{{ faculty_vo_list[0][1]['degree_name'] }}"
                                                       disabled required
                                                >
                                            </div>


                                            <div class="form-group col-6">
                                                <label
                                                        for="examDepartmentId">
                                                    Department Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="examDepartmentId"
                                                       id="examDepartmentId"
                                                       value="{{
                                                               faculty_vo_list[0][2]['department_name'] }}"
                                                       disabled required
                                                >
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="examSemesterId">
                                                    Semester Number</label>
                                                <select class="form-control"
                                                        name="examSemesterId"
                                                        id="examSemesterId"
                                                        onchange="editExamSubject()" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Semester
                                                    </option>
                                                    {% for row in
                                                    semester_vo_list %}
                                                        <option
                                                                value="{{
                                                                        row['semester_id'] }}">{{ row['semester_number'] }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="examSubjectId">Exam
                                                    Subject</label>
                                                <select class="form-control"
                                                        name="examSubjectId"
                                                        id="examSubjectId" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Subject
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="examName">Exam
                                                    Name</label>
                                                <input id="examName"
                                                       class="form-control"
                                                       name="examName"
                                                       minlength="2"
                                                       type="text" value="{{
                                                        exam_vo_list[0]['exam_name'] }}" required>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="examDate">Exam
                                                    Date</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="date"
                                                           class="form-control"
                                                           id="examDate"
                                                           name="examDate"
                                                           value="{{
                                                                   exam_vo_list[0]['exam_date'] }}" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="examStartTime">Exam Start
                                                    Time</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="time"
                                                           class="form-control"
                                                           id="examStartTime"
                                                           name="examStartTime" value="{{ exam_vo_list[0]['exam_start_time'] }}" required>
                                                </div>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="examEndTime">Exam
                                                    End Time</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="time"
                                                           class="form-control"
                                                           id="examEndTime"
                                                           name="examEndTime" value="{{ exam_vo_list[0]['exam_end_time'] }}" required>
                                                </div>
                                            </div>
                                        </div>


                                        <input class="btn btn-primary"
                                               type="submit"
                                               value="Update">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'faculty/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<script src="../../static/adminResources/js/file-upload.js"></script>
<!-- End custom js for this page-->
</body>

</html>
