<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COLLEGION | Faculty</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/feather.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/image/favicon.ico"/>
    <script type="text/javascript">
        function editLectureDepartment() {
            let lectureDegreeId = document.getElementById
            ('lectureDegreeId');
            let lectureDepartmentId = document.getElementById
            ('lectureDepartmentId');

            lectureDepartmentId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Department";
            lectureDepartmentId.options.add(option);
            lectureDepartmentId[0].disabled = true;
            lectureDepartmentId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].department_id;
                        option.text = json[i].department_name;
                        lectureDepartmentId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/faculty/ajax_department_lecture?lectureDegreeId=" +
                lectureDegreeId.value, true);
            ajax.send();
        }

        function editLectureSemester() {
            let lectureDepartmentId = document.getElementById
            ('lectureDepartmentId');
            let lectureSemesterId = document.getElementById
            ('lectureSemesterId');

            lectureSemesterId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Semester";
            lectureSemesterId.options.add(option);
            lectureSemesterId[0].disabled = true;
            lectureSemesterId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].semester_id;
                        option.text = json[i].semester_number;
                        lectureSemesterId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/faculty/ajax_semester_lecture?lectureDepartmentId=" +
                lectureDepartmentId.value, true);
            ajax.send();
        }

        function editLectureSubject() {
            let lectureSemesterId = document.getElementById
            ('lectureSemesterId');
            let lectureSubjectId = document.getElementById
            ('lectureSubjectId');

            lectureSubjectId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Subject";
            lectureSubjectId.options.add(option);
            lectureSubjectId[0].disabled = true;
            lectureSubjectId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].subject_id;
                        option.text = json[i].subject_name;
                        lectureSubjectId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/faculty/ajax_subject_lecture?lectureSemesterId=" +
                lectureSemesterId.value, true);
            ajax.send();
        }

        function editLectureFaculty() {
            let lectureSubjectId = document.getElementById
            ('lectureSubjectId');
            let lectureFacultyId = document.getElementById
            ('lectureFacultyId');

            lectureFacultyId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Faculty";
            lectureFacultyId.options.add(option);
            lectureFacultyId[0].disabled = true;
            lectureFacultyId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].faculty_id;
                        option.text = json[i].faculty_firstname;
                        lectureFacultyId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/faculty/ajax_faculty_lecture?lectureSubjectId=" +
                lectureSubjectId.value, true);
            ajax.send();
        }
    </script>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'faculty/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'faculty/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"
                                 style="background: linear-gradient(90deg, #464de4, transparent);">
                                <h4 class="m-0 text-white">Edit Lecture
                                    Schedule</h4>
                            </div>
                            <div class="card-body">
                                <form class="cmxform" id="commentForm"
                                      method="post"
                                      enctype="multipart/form-data"
                                      action="/faculty/update_lecture">
                                    <fieldset>
                                        <input type="hidden"
                                               name="lectureId"
                                               value="{{ lecture_vo_list[0]['lecture_id'] }}">

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureDegreeId">
                                                    Degree Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="lectureDegreeId"
                                                       id="lectureDegreeId"
                                                       value="{{ faculty_vo_list[0][1]['degree_name'] }}"
                                                       disabled required
                                                >
                                            </div>


                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureDepartmentId">
                                                    Department Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="lectureDepartmentId"
                                                       id="lectureDepartmentId"
                                                       value="{{ faculty_vo_list[0][2]['department_name'] }}"
                                                       disabled required
                                                >
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureSemesterId">
                                                    Semester Number</label>
                                                <select class="form-control"
                                                        name="lectureSemesterId"
                                                        id="lectureSemesterId"
                                                        onchange="editLectureSubject()" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Semester
                                                    </option>
                                                    {% for row in
                                                        semester_vo_list %}
                                                        <option
                                                                value="{{ row['semester_id'] }}">{{ row['semester_number'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureSubjectId">
                                                    Subject Name</label>
                                                <select class="form-control"
                                                        name="lectureSubjectId"
                                                        id="lectureSubjectId" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Subject
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureDate">Lecture
                                                    Date</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="date"
                                                           class="form-control"
                                                           id="lectureDate"
                                                           name="lectureDate"
                                                           value="{{
                                                                   lecture_vo_list[0]['lecture_date'] }}" required>
                                                </div>
                                            </div>

                                            <div class="form-group col-6">
                                                <label for="lectureDay">Lecture
                                                    Day</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="lectureDay"
                                                       name="lectureDay"
                                                       value="{{
                                                               lecture_vo_list[0]['lecture_day'] }}" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureStartTime">Lecture
                                                    Start
                                                    Time</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="time"
                                                           class="form-control"
                                                           id="lectureStartTime"
                                                           name="lectureStartTime"
                                                           value="{{
                                                                   lecture_vo_list[0]['lecture_start_time'] }}" required>
                                                </div>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="lectureEndTime">Lecture
                                                    End
                                                    Time</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="time"
                                                           class="form-control"
                                                           id="lectureEndTime"
                                                           name="lectureEndTime"
                                                           value="{{
                                                                   lecture_vo_list[0]['lecture_end_time'] }}" required>
                                                </div>
                                            </div>
                                        </div>

                                        <input class="btn btn-primary"
                                               type="submit"
                                               value="Update">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'faculty/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<script src="../../static/adminResources/js/file-upload.js"></script>
<!-- End custom js for this page-->
</body>

</html>
