<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COLLEGION | Faculty</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/feather.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/image/favicon.ico"/>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'faculty/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'faculty/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-header"
                         style="background: linear-gradient(90deg, #464de4, transparent);">
                        <h4 class="m-0 text-white">View Exam Schedule</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="order-listing" class="table">
                                        <thead>
                                        <tr>
                                            <th>Semester</th>
                                            <th>Name</th>
                                            <th>Subject</th>
                                            <th>Date</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in exam_vo_list %}
                                        <tr>
                                            <td>{{ row[1]['semester_number']
                                                    }}</td>
                                            <td>{{ row[2]['subject_name']
                                                    }}</td>
                                            <td>{{ row[0]['exam_name'] }}</td>
                                            <td>{{ row[0]['exam_date'] }}</td>
                                            <td>{{ row[0]['exam_start_time']
                                                    }}</td>
                                            <td>{{ row[0]['exam_end_time']
                                                    }}</td>
                                            <td>
                                                <a
                                                        href="/faculty/edit_exam?examId={{ row[0]['exam_id'] }}">
                                                    <i class="mdi mdi-pencil-box-outline lead"></i>
                                                </a>
                                                <a
                                                        href="/faculty/delete_exam?examId={{ row[0]['exam_id'] }}">
                                                    <i class="mdi mdi-delete text-danger lead ml-2"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% with message = get_flashed_messages() %}

                                            {% if message %}
                                                <center>
                                                <div style="border:1px transparent;
                                                color: green; font-size: 20px;
                                                background-color: #f1f3f3"
                                                     ><font style="font-family:  Arial, Helvetica, sans-serif">{{
                                                        message[0]
                                                        }}</font></div><br></center>

                                            {% endif %}

                                        {% endwith %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'faculty/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="../../static/adminResources/js/jquery.dataTables.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/data-table.js"></script>
<!-- End custom js for this page-->
</body>

</html>
