<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>COLLEGION | Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet"
          href="../../static/adminResources/css/flag-icon.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/materialdesignicons.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../static/adminResources/css/feather.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/vendor.bundle.base.css">
    <link rel="stylesheet"
          href="../../static/adminResources/css/bootstrap-datepicker.min.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon"
          href="../../static/adminResources/image/favicon.ico"/>
    <script>
        function loadStudentDepartment() {
            let studentDegreeId = document.getElementById('studentDegreeId');
            let studentDepartmentId = document.getElementById
            ('studentDepartmentId');

            studentDepartmentId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Department";
            studentDepartmentId.options.add(option);
            studentDepartmentId[0].disabled = true;
            studentDepartmentId[0].selected = true;

            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);
                    for (let i = 0; i < json.length; i++) {
                        let option = document.createElement("option");
                        option.value = json[i].department_id;
                        option.text = json[i].department_name;
                        studentDepartmentId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/admin/ajax_department_student?studentDegreeId=" +
                studentDegreeId.value, true);
            ajax.send();
        }

        function loadStudentSemester() {
            let studentDepartmentId = document.getElementById
            ('studentDepartmentId');
            let studentSemesterId = document.getElementById
            ('studentSemesterId');

            studentSemesterId.innerHTML = "";

            let option = document.createElement("option");
            option.value = "";
            option.text = "Select Semester";
            studentSemesterId.options.add(option);
            studentSemesterId[0].disabled = true;
            studentSemesterId[0].selected = true;

            let ajax = new XMLHttpRequest();

            ajax.onreadystatechange = function () {
                if (ajax.readyState === 4) {
                    let json = JSON.parse(ajax.responseText);

                    for (let i = 0; i < json.length; i++) {

                        let option = document.createElement("option");
                        option.value = json[i].semester_id;
                        option.text = json[i].semester_number;
                        studentSemesterId.options.add(option);
                    }
                }
            };
            ajax.open("get",
                "/admin/ajax_semester_student?studentDepartmentId=" +
                studentDepartmentId.value, true);
            ajax.send();
        }

    </script>
</head>

<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    {% include 'admin/header.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->

        {% include 'admin/menu.html' %}

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row grid-margin">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header"
                                 style="background: linear-gradient(90deg, #464de4, transparent);">
                                <h4 class="m-0 text-white">Add Student</h4>
                            </div>
                            <div class="card-body">
                                <form class="cmxform" id="commentForm"
                                      method="post"
                                      action="/admin/insert_student"
                                      enctype="multipart/form-data">
                                    <fieldset>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="loginId">
                                                    Email</label>
                                                <input id="loginId"
                                                       class="form-control"
                                                       name="loginId"
                                                       minlength="2"
                                                       type="text" required>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="studentEnrollment">
                                                    Enrollment No</label>
                                                <input
                                                        id="studentEnrollment"
                                                        class="form-control"
                                                        name="studentEnrollment"
                                                        maxlength="12"
                                                        type="text" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="studentFirstname">
                                                    First Name</label>
                                                <input id="studentFirstname"
                                                       class="form-control"
                                                       name="studentFirstname"
                                                       minlength="2"
                                                       type="text" required>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="studentLastname">
                                                    Last Name</label>
                                                <input id="studentLastname"
                                                       class="form-control"
                                                       name="studentLastname"
                                                       minlength="2"
                                                       type="text" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-4">
                                                <label
                                                        for="studentDegreeId">
                                                    Degree Name</label>
                                                <select class="form-control"
                                                        name="studentDegreeId"
                                                        id="studentDegreeId"
                                                        onchange="loadStudentDepartment()" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Degree
                                                    </option>
                                                    {% for row in degree_dao_list %}
                                                        <option
                                                                value="{{ row['degree_id'] }}">{{ row['degree_name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="form-group col-4">
                                                <label
                                                        for="studentDepartmentId">
                                                    Department Name</label>
                                                <select class="form-control"
                                                        name="studentDepartmentId"
                                                        id="studentDepartmentId"
                                                        onchange="loadStudentSemester()" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Department
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="form-group col-4">
                                                <label
                                                        for="studentSemesterId">
                                                    Semester</label>
                                                <select class="form-control"
                                                        name="studentSemesterId"
                                                        id="studentSemesterId" required>
                                                    <option value="" selected
                                                            disabled>Select
                                                        Semester
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label class="col-form-label"
                                                       for="studentGender">
                                                    Gender</label>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <div class="form-radio">
                                                            <div class="icheck">
                                                                <input tabindex="7"
                                                                       type="radio"
                                                                       id="Male"
                                                                       name="studentGender"
                                                                       value="Male" required>
                                                                <label for="Male">Male</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-radio">
                                                            <div class="icheck">
                                                                <input tabindex="7"
                                                                       type="radio"
                                                                       id="Female"
                                                                       name="studentGender"
                                                                       value="Female">
                                                                <label for="Female">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-5">
                                                <label class="col-form-label"
                                                       for="studentStatus">
                                                    Status</label>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <div class="form-radio">
                                                            <div class="icheck">
                                                                <input tabindex="7"
                                                                       type="radio"
                                                                       id="Studying"
                                                                       name="studentStatus"
                                                                       value="Studying" required>
                                                                <label for="Studying">Studying</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-radio">
                                                            <div class="icheck">
                                                                <input tabindex="7"
                                                                       type="radio"
                                                                       id="Studied"
                                                                       name="studentStatus"
                                                                       value="Studied">
                                                                <label for="Studied">Studied</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-radio">
                                                            <div class="icheck">
                                                                <input tabindex="7"
                                                                       type="radio"
                                                                       id="Break"
                                                                       name="studentStatus"
                                                                       value="Break">
                                                                <label for="Break">Break</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="studentContact">
                                                    Contact Number</label>
                                                <input id="studentContact"
                                                       class="form-control"
                                                       name="studentContact"
                                                       maxlength="10"
                                                       type="text" required>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="studentParentContact">Parent
                                                    Contact Number</label>
                                                <input
                                                        id="studentParentContact"
                                                        class="form-control"
                                                        name="studentParentContact"
                                                        maxlength="10"
                                                        type="text" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label
                                                        for="studentDob">
                                                    Date Of Birth</label>
                                                <div id="datepicker-popup"
                                                     class="input-group date datepicker">
                                                    <input type="date"
                                                           class="form-control"
                                                           id="studentDob"
                                                           name="studentDob" required>
                                                    {#                                                    <span class="input-group-addon input-group-append border-left">#}
                                                    {#                                                      <span class="mdi mdi-calendar input-group-text"></span>#}
                                                    {#                                                    </span>#}
                                                </div>
                                            </div>

                                            <div class="form-group col-6">
                                                <label
                                                        for="studentQualification">
                                                    Qualification</label>
                                                <input id="studentQualification"
                                                       class="form-control"
                                                       name="studentQualification"
                                                       minlength="2"
                                                       type="text" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Upload Image</label>
                                            <input type="file"
                                                       name="studentImage"
                                                   class="file-upload-default"
                                                   accept="image/*" required>
                                            <div class="input-group col-xs-12">
                                                <input type="text"
                                                       class="form-control file-upload-info"
                                                       disabled
                                                       placeholder="Upload Image">
                                                <div class="input-group-append">
                                                    <button class="file-upload-browse btn btn-info"
                                                            type="button">
                                                        Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <input class="btn btn-primary"
                                               type="submit" value="Add">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            {% include 'admin/footer.html' %}
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../static/adminResources/js/off-canvas.js"></script>
<script src="../../static/adminResources/js/hoverable-collapse.js"></script>
<script src="../../static/adminResources/js/template.js"></script>
<script src="../../static/adminResources/js/settings.js"></script>
<script src="../../static/adminResources/js/todolist.js"></script>
<!-- endinject -->
<script src="../../static/adminResources/js/jquery.validate.min.js"></script>
<script src="../../static/adminResources/js/bootstrap-maxlength.min.js"></script>
<!-- Custom js for this page-->
<script src="../../static/adminResources/js/form-validation.js"></script>
<script src="../../static/adminResources/js/bt-maxLength.js"></script>
<script src="../../static/adminResources/js/file-upload.js"></script>
<script src="../../static/adminResources/js/bootstrap-datepicker.min.js"></script>
<!-- End custom js for this page-->
</body>

</html>
