<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/load_dashboard">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts"
               aria-expanded="false"
               aria-controls="page-layouts">
                <i class="mdi mdi-school menu-icon"></i>
                <span class="menu-title">Manage Degree</span>
            </a>
            <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_degree">Add
                        Degree</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_degree">View
                        Degree</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic"
               aria-expanded="false"
               aria-controls="ui-basic">
                <i class="mdi mdi-file-tree menu-icon"></i>
                <span class="menu-title">Manage Department</span>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_department">Add
                        Department</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_department">View
                        Department</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced"
               aria-expanded="false"
               aria-controls="ui-advanced">
                <i class="mdi mdi-calendar-clock menu-icon"></i>
                <span class="menu-title">Manage Semester</span>
            </a>
            <div class="collapse" id="ui-advanced">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_semester">Add
                        Semester</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_semester">View
                        Semester</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements"
               aria-expanded="false"
               aria-controls="form-elements">
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
                <span class="menu-title">Manage Subject</span>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_subject">Add
                        Subject</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_subject">View
                        Subject</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#editors"
               aria-expanded="false"
               aria-controls="editors">
                <i class="mdi mdi-account-check menu-icon"></i>
                <span class="menu-title">Manage Faculty</span>
            </a>
            <div class="collapse" id="editors">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_faculty">Add
                        Faculty</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_faculty">View
                        Faculty</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts"
               aria-expanded="false"
               aria-controls="charts">
                <i class="mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Manage Student</span>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/load_student">Add
                        Student</a></li>
                    <li class="nav-item"><a class="nav-link"
                                            href="/admin/view_student">View
                        Student</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/logout_session">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>
